---
import { Image } from 'astro:assets';

import { aboutImg1 } from '@/assets';
---

<section class="relative w-full py-12 text-white md:py-24 lg:py-32">
	{/* Background Image */}
	<div class="absolute inset-0 z-0">
		<Image
			src={aboutImg1}
			alt="Background Image"
			quality={80}
			class="pointer-events-none h-full object-cover"
		/>
	</div>

	{/* Dark overlay */}
	<div class="absolute inset-0 z-10 bg-black opacity-70"></div>

	<div class="container relative z-20 px-4 md:px-6">
		<h1
			class="mb-4 text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl lg:text-6xl/none"
		>
			About Outdoors Explorers
		</h1>
		<p class="max-w-[700px] text-gray-300 md:text-xl">
			Pioneering eco-friendly exploration since 2005, we&apos;re committed to showing you the
			world&apos;s wonders while preserving them for future generations.
		</p>
	</div>
</section>
