---
import MaxWidthContainer from '@/components/site/max-width-container.astro';
---

<section id="book-now" class="w-full py-16 md:py-24">
	<MaxWidthContainer>
		<h2 class="text-gradient mb-8 text-center text-3xl font-bold md:text-5xl">
			Ready to Embark on Your Next Adventure?
		</h2>
		<p class="mx-auto mb-12 max-w-2xl text-center text-xl text-gray-400">
			Join us on a journey that will challenge you, inspire you, and leave you with memories
			to last a lifetime.
		</p>
		<div class="flex justify-center">
			<a
				href="/tours"
				class="btn btn-primary max-w-lg text-white hover:scale-105 hover:bg-secondary"
			>
				Book Your Tour Now
			</a>
		</div>
	</MaxWidthContainer>
</section>
