---
import { cn } from '@/lib/utils';

interface Props {
	items: {
		title: string;
		description: string;
		icon: any;
	}[];
}

const { items } = Astro.props as Props;
---

<div class="relative">
	<div
		class="absolute left-1/2 h-full w-1 -translate-x-1/2 transform rounded-full bg-gradient-to-b from-primary to-secondary"
	>
	</div>
	{
		items.map((feature, index) => (
			<div
				class={cn(
					'relative flex items-center',
					index % 2 === 0 ? 'justify-start' : 'justify-end'
				)}
			>
				<div class={cn('w-1/2', index % 2 === 0 ? 'pr-8' : 'pl-8')}>
					<div class="rounded-xl bg-gray-700 p-6 shadow-lg transition-all duration-300">
						<div class="flex items-center gap-4">
							<feature.icon className="size-10 text-primary mb-4" />
							<h3 class="mb-4 text-2xl font-bold text-primary">{feature.title}</h3>
						</div>
						<p class="text-gray-200">{feature.description}</p>
					</div>
				</div>

				{/* Middle Circle */}
				<div class="absolute left-1/2 flex h-12 w-12 -translate-x-1/2 -translate-y-1/2 transform items-center justify-center rounded-full bg-gradient-to-br from-primary to-secondary">
					<div class="size-8 rounded-full bg-white" />
				</div>
			</div>
		))
	}
</div>
