---
import Layout from '@/layouts/layout.astro';

export const prerender = false;
// const success = Astro.url.searchParams.get('success');
const orderId = Astro.url.searchParams.get('orderId');
console.log('🚀 ~ orderId:', orderId);
// console.log('🚀 ~ success:', success);
// if (!success) return Astro.redirect('/404');
---

<Layout>
	<div>SUCCESS</div>
</Layout>
