---
import { MaxWidthContainer } from '@/components/site/max-width-container';
import { cn } from '@/lib/utils';
import PopularToursGrid from './popular-tours-grid.astro';
---

<section class="w-full overflow-hidden py-16 md:py-24">
	<MaxWidthContainer>
		<h2 class="text-gradient mb-16 text-center text-3xl font-bold md:text-5xl">
			Popular Tours
		</h2>

		<PopularToursGrid server:defer>
			<div slot="fallback" class="grid grid-cols-1 gap-8 md:grid-cols-2">
				{
					Array.from({ length: 4 }).map((_, idx) => (
						<div
							class={cn(
								'h-64 w-full animate-pulse rounded-lg bg-gray-200',
								idx % 2 === 1 && 'md:translate-y-8'
							)}
						/>
					))
				}
			</div>
		</PopularToursGrid>
	</MaxWidthContainer>
</section>
