---
import { CalendarIcon, ClockIcon, UsersIcon } from 'lucide-react';

import type { TourDetailWithDescription } from '@/db/types';
import TourPrice from './tour-price.astro';

interface Props {
	tour: TourDetailWithDescription;
}

const { tour } = Astro.props as Props;
---

<div class="sticky top-8 rounded-lg bg-white p-6 shadow-md">
	<h3 class="mb-4 text-xl font-bold">Tour Details</h3>
	<div class="mb-4">
		<TourPrice price={tour.price} discount={tour.discount} />
	</div>
	<div class="space-y-3">
		<div class="flex items-center text-gray-600">
			<ClockIcon className="mr-2 size-5 text-primary" />
			<p>{tour.duration} day(s)</p>
		</div>
		<div class="flex items-center text-gray-600">
			<UsersIcon className="mr-2 size-5 text-primary" />
			<p>Max. {tour.maxGroupSize} people</p>
		</div>
	</div>

	<hr class="my-6" />

	<div>
		<h3 class="mb-4 text-xl font-semibold">Next Dates</h3>
		<!-- sort and display the start dates, also, remove dates in the past -->
		<ul class="space-y-2">
			{
				tour.startDates
					.sort((a, b) => new Date(a).getTime() - new Date(b).getTime())
					.filter((date) => new Date(date) >= new Date())
					.map((date) => (
						<li>
							<p class="flex items-center gap-2">
								<CalendarIcon className="mr-2 size-5 text-primary" />
								{new Date(date).toDateString()}
							</p>
						</li>
					))
			}
		</ul>
	</div>

	<div>
		<a
			href="#"
			class="mt-6 block rounded-lg bg-primary py-2.5 text-center font-semibold text-white hover:bg-primary/90"
		>
			Book Now
		</a>
	</div>
</div>
