---
interface Props {
	tourId: string;
}
---

<section class="rounded-lg bg-gray-700 p-6 text-gray-200 shadow-md">
	<h3 class="mb-4 text-xl font-semibold">Customer Reviews</h3>

	<div class="space-y-6">
		<p>Customer reviews will be displayed here...</p>
	</div>
</section>
