---
interface Props {
	tourId: string;
}

const { tourId } = Astro.props as Props;
---

<section class="rounded-lg bg-white p-6 shadow-md">
	<h3 class="mb-4 text-xl font-semibold">Customer Reviews</h3>

	<div class="space-y-6">
		<p>Customer reviews will be displayed here...</p>
	</div>
</section>
