---
import { calculateDiscountPrice, formatCurrency } from '@/lib/utils'

interface Props {
    price: number
    discount: number | null
}

const {price, discount} = Astro.props as Props
---

<p>
    {
        discount ? (
            <span class="mr-2 text-lg font-bold text-primary">
                $
                {calculateDiscountPrice(
                    price / 100,
                    discount
                ).toFixed(2)} USD
            </span>
            <span class="text-sm text-gray-500 line-through">
                ${(price / 100).toFixed(2)} USD
            </span>
            <span class="ml-2 text-sm font-semibold text-destructive">
                {discount}% OFF
            </span>
        ) : (
            <span class="text-lg font-bold text-primary">
                {formatCurrency(price / 100)}
            </span>
        )
    }
</p>