---
import { LogInIcon, MountainIcon } from 'lucide-react';

import { Link } from '@/components/ui/link';

const links = [
	// { name: 'Home', href: '/' },
	{ name: 'Tours', href: '/tours' },
	{ name: 'About', href: '/about' },
	{ name: 'Contact', href: '/contact' }
];

const { pathname } = Astro.url;
---

<header
	class="flex h-16 items-center justify-between border-b border-gray-100 bg-white px-4 md:px-6"
>
	<div class="flex items-center gap-10">
		<a href="/" class="flex items-center justify-center">
			<MountainIcon className="size-8 text-primary" />
			<span class="ml-2 text-lg font-semibold">Outdoors Explorers</span>
		</a>

		<nav class="flex gap-4 sm:gap-6">
			{
				links.map(({ name, href }) => (
					<a
						href={href}
						data-astro-prefetch
						class:list={[
							'text-sm font-light transition-colors hover:text-primary',
							pathname === href ? 'font-semibold text-primary' : 'text-gray-700'
						]}
					>
						{name}
					</a>
				))
			}
		</nav>
	</div>

	<div>
		<Link href="/login">
			<LogInIcon className="mr-2 size-4" />
			<span>Login</span>
		</Link>
	</div>
</header>
