/* Open Props styles */
@import 'open-props/style';

/* Pico CSS Overrides */
:root {
  --primary: #43a047;
}

:root:not([data-theme='dark']) {
  --primary: #43a047;
}

#main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  margin-bottom: var(--size-8);
}

main {
  flex: 1;
}

:where(footer) {
  margin-top: auto;
  border-top: var(--border-size-1) solid var(--gray-7);
  margin-top: var(--size-6);
}

:where(footer > section) {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: var(--size-6);
  color: var(--gray-6);
  font-size: var(--font-size-1);
}
